<div class="bg-dark my-5 d-flex justify-content-center align-items-center" style="height: 100px">
  <div class="text-light" style="text-align: center">
    <p class="">Copyright © PORTKET. All rights reserved.</p>
    <br />
    <p class="" style="text-align: center">
      <span>Icons and images by <a href="https://icons8.com/license" target="_blank">icons8</a></span>
      |
      <span><a href="https://www.flaticon.com/free-icons/ux" title="ux icons" target="_blank">Freepik - Flaticon</a></span>
      |
      <span><a href="https://www.pexels.com/zh-tw/" target="_blank">pexels</a></span>
    </p>
  </div>
</div>
