<div class="bg-dark my-5 d-flex justify-content-center align-items-center" style="height: 100px">
  <p class="text-white fw-bold">Copyright © <span class="text-primary">PORT</span>KET. All rights reserved.</p>
</div>
