<div class="main-footer">
  <div class="text-light" style="text-align: center">
    <p class="fw-bold">Copyright © PORTKET All rights reserved.</p>
    <br />
    <p>
      <span>Icons and images by <a href="https://icons8.com/license" target="_blank">icons8</a></span>
      |
      <span><a href="https://www.flaticon.com/free-icons/ux" title="ux icons" target="_blank">Freepik - Flaticon</a></span>
      |
      <span><a href="https://www.pexels.com/zh-tw/" target="_blank">pexels</a></span>
    </p>
    <p class="mt-2">favicon by <a href="https://favicon.io/favicon-generator/" target="_blank">favicon.io</a></p>
  </div>
</div>
