<!--add project--->
<div class="my-project-form-box">
  <!--x-->
  <div class="form-close">
    <button type="button" class="form-close-btn">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <form class="my-project-form" action="#" method="post">
    <!--form title-->
    <p class="h1 fw-bold mb-3 form-box-title">Add Project</p>
    <!--title-->
    <div class="form-div">
      <label class="form-label" for="project-title">Title</label>
      <input name="title" type="text" class="form-control" id="project-title" required />
    </div>
    <!--date-->
    <div class="form-div">
      <label class="form-label" for="project-date">Date</label>
      <input name="date" type="date" class="form-control" id="project-date" lang="en" required />
    </div>
    <!--cover-->
    <!--description-->
    <div class="form-div">
      <label class="form-label" for="project-description">Description</label>
      <textarea name="description" class="form-control" id="project-description" rows="3" required></textarea>
      <div class="form-text mt-2">Tell us more about the project, what is the project for, what is the goal, and what is the result. Be as detail as possible.</div>
    </div>
    <!--skills-->
    <div class="form-div">
      <label class="form-label" for="">Skills</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
        <label class="form-check-label" for="flexCheckChecked"> checkbox </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" />
        <label class="form-check-label" for="flexCheckChecked"> checkbox </label>
      </div>
      <div class="form-text mt-2">Select skills you use in your project.</div>
    </div>
    <!--submit-->
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary">Add</button>
    </div>
  </form>
  <!--project form image-->
  <div class="my-project-form-img">
    <img src="/images/form_images/form_project_side.jpg" alt="form side image" />
  </div>
</div>
