<!-- css in myProject.css -->
<!--input option-->
<div id="input-option-container" class="input-option-container">
  <span class="input-option-title">Input types</span>
  <p class="input-option-line"></p>
  <div id="input-option-text" class="input-option">
    <i class="fa-solid fa-font input-option-icon"></i>
    <p class="input-option-name">Text</p>
  </div>
  <div id="input-option-image" class="input-option">
    <i class="fa-regular fa-image input-option-icon"></i>
    <p class="input-option-name">Image</p>
  </div>
</div>