<div class="position-fixed top-0 start-50 translate-middle mt-5 col-md-6 m-auto" style="z-index: 1000">
  {{#if success_msg}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <i class="fa-solid fa-circle-check"></i>
    {{success_msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}
  <!---->
  {{#if warning_msg}}
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <i class="fa-solid fa-triangle-exclamation"></i>
    {{warning_msg}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}
</div>
