<div class="position-fixed top-0 start-50 translate-middle mt-5 col-md-6" style="z-index: 1000">
  {{#if success_msg}}
  <div class="alert alert-primary alert-dismissible fade show marginShake" role="alert">
    <i class="fa-solid fa-circle-check"></i>
    <span class="alert-message-text"> {{success_msg}} </span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}
  <!---->
  {{#if warning_msg}}
  <div class="alert alert-danger alert-dismissible fade show marginShake" role="alert">
    <i class="fa-solid fa-triangle-exclamation"></i>
    <span class="alert-message-text">{{warning_msg}}</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {{/if}}
</div>

<!--for frontend use-->
<div id="alert-message" class="alert-message marginShake">
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <i class="fa-solid fa-triangle-exclamation"></i>
    <span class="alert-message-text">This is some alert message i want to show</span>
    <button id="alert-message-close-btn" type="button" class="btn-close alert-message-close-btn"></button>
  </div>
</div>
