<!--search bar-->
<form action="/{{model}}" class="home-search-bar-outer-container">
<!--search bar-->
  <div class="input-group home-search-bar-container">
    <select name="column" class="home-search-bar-select" aria-label="search column">
      <option value="project" {{#if (isSame column 'project')}}selected{{/if}}>Project</option>
      <option value="user" {{#if (isSame column 'user')}}selected{{/if}}>User</option>
      <option value="skill" {{#if (isSame column 'skill')}}selected{{/if}}>Skill</option>
    </select>
    <input name="keyword" type="text" class="home-search-bar-input" {{#if keyword }}value="{{keyword}}" {{/if}}placeholder="{{totalCount}} {{model}}..." aria-label="search"
    autocomplete="off"/>
    <div class="input-group-append">
      <button class="search-button" type="submit" aria-label="search button"><i class="fa-solid fa-magnifying-glass search-button-icon"></i></button>
    </div>
  </div>
    <!--sort-->
  <div class="sort-select-div">
    <select class="sort-select" name="sort" id='sort-select' aria-label="search sort">
      <option value="time" {{#if (isSame sort 'time')}}selected{{/if}}>Time</option>
      <option value="visit" {{#if (isSame sort 'visit')}}selected{{/if}}>Visit</option>
      <option value="title" {{#if (isSame sort 'title')}}selected{{/if}}>Title</option>
    </select>
   </div>
  <div class="sort-direction-div">
    <input name="ascending" class="sort-direction-check" type="checkbox" {{#if (isSame sortDirection 'ASC')}}checked{{/if}}  aria-checked="false">
  </div>
</form>
