<form action="/{{model}}">
  <div class="input-group mb-3 home-search-bar">
    <input name="keyword" type="text" class="form-control home-search-bar-input" {{#if keyword }}value="{{keyword}}" {{/if}}placeholder="search within {{totalCount}} {{model}}..." aria-label="search"
    autocomplete="off"/>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit" id="button-addon2">Search</button>
    </div>
  </div>
</form>
