<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Create and showcase your portfolio with ease on our platform. Empower your online presence by displaying your projects to the world. Connect with other users, explore projects, and highlight your skills through tags. Join now and build a personalized space to exhibit your talents and achievements."
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <!--favicon-->
    <link rel="apple-touch-icon" href="/favicon_io/512x512.png" />
    <link rel="icon" type="image/png" href="/favicon_io/512x512.png" />
    <link rel="manifest" href="/favicon_io/site.webmanifest" />
    <!--my css-->
    <link rel="stylesheet" href="/styles/main.css" />
    <!--bs script-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
      defer
    ></script>
    <title>Showcase your talent. Grow your skills. | PORTKET</title>
  </head>
  <body>
    <!--hamburger-menu-->
    {{> hamburger-menu currentUser=currentUser isAuthenticated=isAuthenticated}}
    <!--message-->
    {{> message}}
    <!--top-->
    <header class="header">
      <!--navbar-->
      <nav class="my-navbar">
        <!--navbar left-->
        <div class="navbar-left">
          <!--hamburger-->
          <div id="hamburger" class="hamburger">
            <i id="hamburger-i" class="fa-solid fa-bars"></i>
          </div>
          <!--logo-->
          <a class="navbar-brand fw-bold" href="/users">
            <div class="navbar-logo-div">
              <img class="full" src="/favicon_io/192x192.png" alt="logo" />
            </div>
            <p class="navbar-logo-text"><span class="text-primary">PORT</span><span>KET</span></p>
          </a>
          <!--page href-->
          <div class="navbar-links">
            <ul class="navbar-links-ul">
              <li class="navbar-links-li">
                <a href="/users" class="navbar-links-href  {{#if (isSame currentPage 'users')}}red underline-red{{/if}} " aria-label="users page" title="Users">
                  <span class="navbar-links-title">Users</span></a
                >
              </li>
              <li class="navbar-links-li">
                <a href="/projects" class="navbar-links-href {{#if (isSame currentPage 'projects')}}red underline-red{{/if}}" aria-label="projects page" title="Projects">
                  <span class="navbar-links-title">Projects</span></a
                >
              </li>
            </ul>
          </div>
        </div>

        {{#if isAuthenticated}}
        <div class="navbar-right">
          <!-- edit mode buttons for my portfolio-->
          {{#if (ifOr (isSame page 'myPortfolio') (isSame page 'myProject'))}}
          <div class="edit-buttons-container">
            <button id="edit-btn" class="nav-edit-btn">
              <i class="fa-solid fa-pencil edit-mode-icon"></i>
              EDIT
            </button>
            <button id="save-edit-btn" class="nav-edit-btn">
              <i class="fa-solid fa-floppy-disk edit-mode-icon"></i>
              SAVE
            </button>
            <button id="cancel-edit-btn" class="nav-edit-btn">X</button>
            <button id="loading-btn" class="nav-edit-btn hide">
              SAVING...
              <i class="fa-solid fa-spinner spinner"></i>
            </button>
          </div>
          <!--edit mode display tip-->
          <div id="edit-mode-display" class="edit-mode-display">Edit Mode</div>
          {{/if}}
          <!--my navbar avatar -->
          <div id="navbar-avatar-div" class="navbar-avatar-div">
            <div class="navbar-avatar">
              <img id="navbar-avatar-img" class="navbar-avatar-img" src="{{currentUser.avatar}}" alt="avatar" tabindex="0" />
              <!--menu-->
              <div id="navbar-avatar-menu" class="navbar-avatar-menu">
                <div class="navbar-avatar-menu-item">
                  <a class="navbar-avatar-menu-href" href="/users/{{currentUser.id}}">
                    <i class="fa-regular fa-user me-2"></i>
                    Portfolio
                  </a>
                </div>
                <div class="navbar-avatar-menu-item"><a class="navbar-avatar-menu-href" href="/users/logout">Logout</a></div>
              </div>
            </div>
          </div>
          {{else}}
          <!--login-->
          <a class="login-btn btn btn-primary" href="/users/login">Login</a>
          {{/if}}
        </div>
      </nav>
      <!--loader-->
      <div class="loader-container">
        <div class="loader-bar"></div>
      </div>
    </header>

    <!--main content-->
    <div id="top-anchor" style="visibility: hidden"></div>
    <div id="main-body" class="main-body">{{{body}}}</div>
    <!--scroll top-->
    <a id="scroll-top" class="scroll-top" href="#top-anchor"><i class="fa-solid fa-square-caret-up scroll-top-icon" aria-label="scroll top"></i></a>
    <!--footer-->
    <div class="footer-container">{{> footer}}</div>
    <!--script-->
    <script src="/dist/loader.bundle.js"></script>
    <script src="/dist/main.bundle.js"></script>
  </body>
</html>
