<div class="container">
  <div class="banner">
    <div class="row">
      <div class="banner-text col-md-7 col-lg-6">
        <h1>Welcome to</h1>
        <h1><span class="text-primary">PORT</span>KET</h1>
        <p class="slogan">The marketplace for showcasing your portfolio!</p>
        <div class="register-button mt-3">
          <a href="/users/register" class="btn btn-primary btn-move">
            <div class="d-flex align-items-center justify-content-center">
              <span class="h3">Create Your Portfolio Today</span>
            </div>
          </a>
        </div>
      </div>
      <div class="banner-image col-md-5 col-lg-6"></div>
    </div>
  </div>
  <!--search bar-->
  <div class="mt-3">{{> search-bar}}</div>
  <!--portfolio display-->
  <div class="portfolio-display row justify-content-start">{{#each users}} {{> portfolio-card currentUser=../currentUser}} {{/each}}</div>
</div>
