<div class="container">
  <div id="banner" class="banner">
    <p id="banner-title" class="banner-title">BE <span class="banner-title-red">PROFESSIONAL</span> ANYTIME, ANYWHERE.</p>
    <img id="banner-image" class="banner-image" alt="banner image" loading="eager" />
  </div>
  <!--section below the banner-->
  <div class="below-banner">
    <!--search bar-->
    <div class="mt-3">{{> search-bar}}</div>
    <!--portfolio display-->
    <div class="portfolio-display row justify-content-start">{{#each users}} {{> portfolio-card currentUser=../currentUser}} {{/each}}</div>
  </div>
</div>

<script type="module" src="/javascript/index.js"></script>
