<div class="container">
  <div id="banner" class="banner">
    <p id="banner-title" class="banner-title ani-banner-title">BE <span class="banner-title-red">PROFESSIONAL</span> ANYTIME, ANYWHERE.</p>
    <div id="banner-image-div" class="banner-image-div image-load">
      <img class="banner-image" src="{{landingImage}}" alt="banner image" loading="eager" />
    </div>
  </div>
  <!--section below the banner-->
  <div class="below-banner">
    <!--search bar-->
    <div class="mt-3">{{> search-bar}}</div>
    <!--portfolio display-->
    <div class="portfolio-display row justify-content-start">{{#each users}} {{> portfolio-card currentUser=../currentUser}} {{/each}}</div>
  </div>
</div>

<!--script-->
<script src="/javascript/index.js"></script>
