<div class="container">
  <div class="profile-banner">
    <h1>profile-banner</h1>
    <p>name, email, password, avatar, cover, title, social, links</p>
  </div>

  <div class="profile-skill">
    <h1>Skills</h1>
    <p>skills - skills - skills</p>
  </div>

  <div class="profile-projects">
    <h1>Projects</h1>
    <p>project - project - project</p>
  </div>

  <div class="contact">
    <h1>Contact</h1>
    <p>email, phone, links</p>
  </div>
</div>
