<div class="container index-container">
  <!--section below the banner-->
  <div class="below-banner">
    <h1 class="page-heading">{{currentPage}}</h1>
    <!--search bar-->
    {{> users-search-bar sort=sort sortDirection=sortDirection column=column totalCount=totalCount model='users'}}
    <!--portfolio display-->
    {{#if (isMoreThanTarget users.length 0)}}
    <div class="portfolio-display row justify-content-start">{{#each users}} {{> portfolio-card currentUser=../currentUser}} {{/each}}</div>
  </div>
  {{else}}
  <div class="no-result-display">
    <div>
      <i class="no-result-i fa-regular fa-face-meh"></i>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
      <p class="no-result-p">No Results Found</p>
      <a class="no-result-btn" href="/users">Go Back</a>
    </div>
  </div>
  {{/if}}

  <!--pagination--->
  {{> pagination totalPages=totalPages page=page limit=limit keyword=keyword model='users'}}
</div>

<!--script-->
<script src="/dist/index.bundle.js"></script>
