@keyframes popAndFadeIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  60% {
    opacity: 1;
    transform: scale(1.02);
  }
  80% {
    opacity: 1;
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes marginShake {
  0%,
  100% {
    margin-top: 0;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    margin-top: -1px;
  }
  20%,
  40%,
  60%,
  80% {
    margin-top: 2px;
  }
}

@keyframes edit-mode-display-show {
  from {
    width: 0%;
    color: rgb(256, 256, 256, 0);
  }
  to {
    width: 100%;
    color: rgb(256, 256, 256, 1);
  }
}

@keyframes edit-mode-display-hide {
  from {
    width: 100%;
    color: rgb(256, 256, 256, 1);
  }
  to {
    width: 0%;
    color: rgb(256, 256, 256, 0);
  }
}

@keyframes slideUp-top-50 {
  0% {
    top: 60%;
  }
  75% {
    top: 49.7%;
  }
  100% {
    top: 50%;
  }
}

@keyframes image-load {
  0% {
    background: var(--my-loading-1);
  }
  50% {
    background: var(--my-loading-2);
  }
  100% {
    background: var(--my-loading-1);
  }
}

/* index */
.ani-banner-title {
  animation: fadeIn 1.3s ease-in-out, slideUp-top-50 1.5s ease-in-out;
}

/* error message */
.marginShake {
  animation: marginShake 0.8s ease-in-out;
}

/* image loading*/
.image-load {
  position: relative;
}

.image-load::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--my-loading-1);
  animation: image-load 2s linear infinite;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  z-index: 2;
}

.image-load.loaded::after {
  animation: none;
  opacity: 0;
}
