:root {
  --my-red: rgb(220, 53, 69); /*bootstrap danger*/
  --my-red-light: rgb(216, 83, 96);
  --my-red-light2: rgba(216, 83, 96, 0.308);
  --my-red-dark: rgb(184, 22, 38);
  --my-grey: rgb(129, 129, 129);
  --my-grey-light: rgb(183, 183, 183);
  --my-border: rgb(211, 211, 211);
  --my-border-light: rgb(230, 230, 230);
  --my-light: rgb(242, 242, 242);
}
