:root {
  --my-red: rgb(220, 53, 69); /*bootstrap danger*/
  --my-red2: rgb(217, 129, 138);
  --my-red-light: rgb(208, 87, 99);
  --my-red-light2: rgba(224, 74, 89, 0.122);
  --my-red-light3: rgb(218, 169, 174);
  --my-red-dark: rgb(176, 35, 49);
  --my-black: rgb(54, 54, 54);
  --my-grey-dark: rgb(87, 87, 87);
  --my-grey: rgb(129, 129, 129);
  --my-grey-light: rgb(183, 183, 183);
  --my-border: rgb(211, 211, 211);
  --my-border-light: rgb(230, 230, 230);
  --my-light: rgb(242, 242, 242);
  --my-green: rgb(66, 139, 66);
  --my-green-light: rgb(106, 173, 106);
  --my-blue: rgb(59, 137, 173);
  --my-blue-light: rgb(94, 166, 200);
  --my-loading-1: rgb(255, 255, 255);
  --my-loading-2: rgb(233, 233, 233);
}

/*override bootstraps*/
.text-primary {
  color: var(--my-red) !important;
}
.btn-primary {
  background-color: var(--my-red) !important;
  border-color: var(--my-red) !important;
  color: white !important;
}

.btn-primary:hover {
  background-color: var(--my-red-light) !important;
  border-color: var(--my-red-light) !important;
}

a {
  color: var(--my-red) !important;
}

.color-white {
  color: white !important;
}
