/* form */
/* project*/
.form-display-container {
  display: none;
  position: absolute;
  width: 100%;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 10;
}

.form-box {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
}

.form {
  position: relative;
  padding: 0px;
  margin-top: 55px;
}

.form-title-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: black;
  border: 1px solid black;
  padding: 5px 20px;
}

.form-box-title {
  color: white;
  font-weight: bold;
}

.form-div {
  margin-bottom: 20px;
}

.form-close-holder {
  position: relative;
}

.form-close-btn {
  position: absolute;
  top: 9px;
  right: 3px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  width: 35px;
  height: 35px;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  z-index: 100;
}

.form-close-btn:hover {
  color: var(--my-red);
}

.form-cover {
  position: relative;
  height: 300px;
  overflow: hidden;
  margin-bottom: 5px;
  border: 1px solid var(--my-border);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background-image: none;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.form-cover:hover {
  border: 3px solid var(--my-red);
  background-color: rgba(255, 0, 0, 0.1);
}

.form-cover::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  content: '+';
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3rem;
  color: var(--my-grey);
  transition: all 0.2s ease-in-out;
}

.form-cover:hover::before {
  font-size: 3.5rem;
  color: var(--my-red);
}

.form-page-skill-window {
  height: 120px;
  overflow: auto;
  border: 1px solid var(--my-border);
  border-radius: 4px;
  padding: 10px;
}

.form-project-cover-image {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* skills */
.form-check-label {
  display: block;
  cursor: pointer;
}

.form-check-label:hover {
  background-color: var(--my-light);
}

/* links */
.link-row {
  margin-bottom: 7px;
}
.link-input-left {
  flex-grow: 0;
}

.link-input-right {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-grow: 1;
  flex-shrink: 1;
}

.link-input-right-inner {
  flex-grow: 1;
  margin-right: 5px;
}

/* links --remove */
.link-remove-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 3px;
}

.link-remove-btn-div button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  border: none;
  padding: 0px;
  background-color: var(--my-red);
  color: white;
  transition: all 0.2s ease-in-out;
}

.link-remove-btn-div button:hover {
  background-color: var(--my-red-dark);
  border-radius: 3px;
}
/* links --add */
.link-add-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-top: 3px;
}

.link-add-btn-div button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  padding: 0px;
  background-color: var(--my-light);
  border: 1px solid var(--my-grey);
  color: var(--my-grey);
  transition: all 0.2s ease-in-out;
}

.link-add-btn-div button:hover {
  background-color: var(--my-grey);
  border: none;
  color: white;
  border-radius: 3px;
}

/* validity feedback */
.form-control.is-invalid,
.was-validated .form-control:invalid {
  border-color: var(--my-red);
}

.invalid-feedback {
  color: var(--my-red);
}

/* reset button */
.reset-button {
  color: var(--my-grey);
}

.reset-button:hover {
  color: var(--my-red);
}

/* loading */
.loading-indicator {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loading-ring::after {
  content: ' ';
  display: block;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: loading-ring 1.2s linear infinite;
}

@keyframes loading-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 991px) {
  .form-box {
    width: 100%;
    max-width: none;
  }
}
