@import url('/styles/color.css');
@import url('/styles/animation.css');
/* my portfolio ----------------------------------*/

/* name */
#name-input-div {
  display: none;
}

/* title */
#title-display {
  display: inline-block;
}

#title-input-div {
  display: none;
}

/* social*/
#social-input-div {
  display: none;
}
.social-input-flex {
  display: flex;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.social-select {
  flex-shrink: 1;
  width: 160px;
  padding-right: 6px;
}

.social-input-right {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-grow: 1;
  flex-shrink: 1;
}

.social-input-right-inner {
  flex-grow: 1;
  padding-right: 6px;
}

.social-input-button-div {
  margin-top: 3px;
}

/* contact */
.contact-div {
  margin: 15px 0px;
}

.location-input-div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* Project */
#add-project-btn-container {
  position: relative;
  height: 200px;
}

#project-blocker {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid var(--my-border);
}

.project-blocker-inner {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--my-grey);
}

#add-project-btn {
  position: relative;
  display: block;
  height: 100%;
  background-color: white;
  border: 1px solid var(--my-border);
  border-radius: 4px;
  font-size: 1.1em;
  color: var(--my-grey-light);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

#add-project-btn::after {
  content: 'Add Project +';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#add-project-btn:hover {
  transform: translateY(-4px);
  color: var(--my-red);
  border-color: var(--my-red);
  background-color: var(--my-red-light2);
}

/* project delete btn */
.project-delete-btn-div {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
}

.project-delete-btn-div button {
  height: 30px;
  width: 30px;
  background-color: var(--my-red);
  transition: all 0.1s linear;
  font-weight: bold;
  color: white;
  border: none;
}

.project-delete-btn-div button:hover {
  background-color: var(--my-red-light);
  border-radius: 5px;
  transform: scale(0.95);
}

.project-delete-btn-div:hover::before {
  content: 'delete';
  display: block;
  position: absolute;
  height: 24px;
  top: -28px;
  left: -13px;
  background: white;
  color: var(--my-red);
  border: 1px solid var(--my-red);
  border-radius: 4px;
  padding: 0px 5px;
  font-weight: 100;
}

/* cover */
.portfolio-cover-drag {
  position: absolute;
  display: none;
  align-items: center;
  justify-self: center;
  text-align: center;
  top: 65px;
  left: 0%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 5px solid red;
  width: 100%;
  height: 390px;
  cursor: move;
  z-index: 7;
}

.portfolio-cover-drag::after {
  content: 'Drag image to reposition, and remember to Save Edit';
  position: absolute;
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
  background-color: rgba(233, 10, 10, 0.65);
  border-radius: 4px;
  box-shadow: 1px 1px 10px 2px rgba(255, 54, 54, 0.2);
  font-size: 1rem;
  color: white;
  padding: 2px 10px;
}

.portfolio-cover-buttons-container {
  position: absolute;
  display: none;
  top: 400px;
  right: 20px;
  z-index: 8;
}
.cover-buttons-set-one {
  display: flex;
  justify-content: end;
  width: 100%;
}

.cover-buttons-set-two {
  display: none;
  justify-content: end;
  width: 100%;
}

.cover-button {
  color: var(--my-red);
  background-color: white;
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  padding: 2px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.cover-button:hover {
  color: white;
  background-color: var(--my-red);
}
/* avatar */
#avatar-input-div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 5;
}
#avatar-input-div:hover {
  background-color: rgba(255, 0, 0, 0.4);
}

#avatar-input-div::after {
  content: '+';
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
#avatar-input-div:hover::after {
  font-size: 3.5rem;
}

/* skill input */
.skill-input-checkbox-window {
  position: relative;
  border: 1px solid var(--my-border);
  height: 200px;
  overflow: auto;
  padding: 4px;
}
.skill-input {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--my-grey-light);
}
.skill-label {
  display: inline-block;
  flex-grow: 1;
  padding: 4px;
}
.skill-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--my-red);
  margin-right: 4px;
}

.skill-input:hover {
  background-color: var(--my-light);
}

/* skill input tooltip*/
.skill-tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 300px;
  min-height: 50px;
  border: 1px solid var(--my-grey);
  padding: 5px;
  color: var(--my-grey);
  background-color: white;
  pointer-events: none;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.skill-tooltip-top {
  display: flex;
  margin-bottom: 4px;
}

.skill-tooltip-name {
  font-weight: bold;
}

.skill-tooltip-img {
  display: inline-block;
  align-items: center;
  width: 25px;
  margin-right: 5px;
}
.skill-tooltip-img img {
  width: 100%;
  filter: invert(50%);
}

@media screen and (max-width: 991px) {
  .portfolio-cover-drag {
    top: 50px;
    height: 350px;
  }
  .portfolio-cover-buttons-container {
    top: 350px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-cover-drag {
    top: 50px;
    height: 300px;
  }
  .portfolio-cover-buttons-container {
    top: 300px;
  }
}

@media screen and (max-width: 500px) {
  .cover-buttons-set-one {
    justify-content: center !important;
  }
  .cover-buttons-set-two {
    justify-content: center !important;
  }
  .portfolio-cover-buttons-container {
    top: 100px;
    left: 0;
    right: 0;
    width: 100%;
  }
  .portfolio-cover-drag {
    height: 275px;
  }
}
