@import url('/styles/color.css');
@import url('/styles/animation.css');
/* my portfolio ----------------------------------*/

/* general */
.add-button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  padding: 0px;
  background-color: var(--my-light);
  border: 1px solid var(--my-grey);
  color: var(--my-grey);
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
}

.add-button:hover {
  background-color: var(--my-grey);
  border: none;
  color: white;
  border-radius: 3px;
}

.remove-button {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: self-start;
  box-shadow: none;
  padding: 0px;
  background-color: var(--my-light);
  border: 1px solid var(--my-red);
  color: var(--my-red);
  font-size: 1.4rem;
  transition: all 0.2s ease-in-out;
}

.remove-button:hover {
  background-color: var(--my-red-light);
  border: none;
  color: white;
  border-radius: 3px;
}

/* edit button in nav (html in main.hbs) */
.edit-buttons-container {
  margin-right: 10px;
  display: flex;
}

.edit-btn {
  height: 30px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.edit-portfolio-icon {
  margin-right: 5px;
  transition: all 0.2s ease-in-out;
}

.edit-btn:hover .edit-portfolio-icon {
  transform: rotate(-15deg);
}

#save-portfolio-btn {
  display: none;
}

#cancel-portfolio-btn {
  display: none;
}

#edit-mode-display {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
  height: 20px;
  width: 0%;
  left: 0;
  top: 100%;
  background-color: var(--my-red);
  animation-play-state: paused;
}

#edit-mode-display.show-animation {
  animation: edit-mode-display-show 0.6s ease-in-out forwards;
  display: flex;
}

#edit-mode-display.hide-animation {
  animation: edit-mode-display-hide 0.4s ease-in-out forwards;
  display: flex;
}

@keyframes edit-mode-display-show {
  from {
    width: 0%;
    color: rgb(256, 256, 256, 0);
  }
  to {
    width: 100%;
    color: rgb(256, 256, 256, 1);
  }
}

@keyframes edit-mode-display-hide {
  from {
    width: 100%;
    color: rgb(256, 256, 256, 1);
  }
  to {
    width: 0%;
    color: rgb(256, 256, 256, 0);
  }
}

/* name */
#name-input-div {
  display: none;
}

/* title */
#title-display {
  display: inline-block;
}

#title-input-div {
  display: none;
}

/* social*/
#social-input-div {
  display: none;
}
.social-input-flex {
  display: flex;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}

.social-select {
  flex-shrink: 1;
  min-width: 90px;
  padding-right: 6px;
}

.social-link {
  flex-grow: 1;
  padding-right: 6px;
}

/* contact */
.contact-div {
  margin: 15px 0px;
}

.location-input-div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* Project */
#add-project-btn-container {
  position: relative;
  height: 200px;
}

#project-blocker {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid var(--my-border);
}

.project-blocker-inner {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--my-grey);
}

#add-project-btn {
  position: relative;
  display: block;
  height: 100%;
  background-color: white;
  border: 1px solid var(--my-border);
  border-radius: 4px;
  font-size: 1.1em;
  color: var(--my-grey-light);
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

#add-project-btn::after {
  content: 'Add Project +';
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#add-project-btn:hover {
  transform: translateY(-4px);
  color: var(--my-red);
  border-color: var(--my-red);
  background-color: var(--my-red-light2);
}

/* project delete btn */
.project-delete-btn-div {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
}

.project-delete-btn-div button {
  height: 30px;
  width: 30px;
  background-color: var(--my-red);
  transition: all 0.1s linear;
  font-weight: bold;
  color: white;
  border: none;
}

.project-delete-btn-div button:hover {
  background-color: var(--my-red-light);
  border-radius: 5px;
  transform: scale(0.95);
}

.project-delete-btn-div:hover::before {
  content: 'delete';
  display: block;
  position: absolute;
  height: 24px;
  top: -28px;
  left: -13px;
  background: white;
  color: var(--my-red);
  border: 1px solid var(--my-red);
  border-radius: 4px;
  padding: 0px 5px;
  font-weight: 100;
}

/* avatar */
#avatar-input-div {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.4);
}

#avatar-input-div::after {
  content: '+';
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}
#avatar-input-div:hover::after {
  font-size: 3rem;
}

/* skill input */
.skill-input-checkbox-window {
  position: relative;
  border: 1px solid var(--my-border);
  height: 200px;
  overflow: auto;
  padding: 4px;
}
.skill-input {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid var(--my-grey-light);
}
.skill-label {
  display: inline-block;
  flex-grow: 1;
  padding: 4px;
}
.skill-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: var(--my-red);
  margin-right: 4px;
}

.skill-input:hover {
  background-color: var(--my-light);
}

/* skill input tooltip*/
.skill-tooltip {
  display: none;
  justify-content: start;
}

.skill-tooltip-top {
  display: flex;
}

.skill-input:hover .skill-tooltip {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: var(--my-grey);
  opacity: 0.9;
  color: white;
  top: 0;
  right: 0;
  padding: 10px;
  text-wrap: wrap;
  border-radius: 4px;
  z-index: 10;
}
.skill-tooltip-name {
  font-weight: bold;
}

.skill-tooltip-img {
  display: inline-block;
  align-items: center;
  width: 25px;
  margin-right: 5px;
}
.skill-tooltip-img img {
  width: 100%;
  filter: invert(100%); /* Invert the colors to turn black to white */
}
