@import url('/styles/color.css');
@import url('/styles/animation.css');
/* my portfolio ----------------------------------*/

.add-project-btn {
  height: 200px;
  background-color: rgb(239, 239, 239);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  color: var(--my-grey-light);
  cursor: pointer;
}

.add-project-btn:hover {
  transform: scale(1.02);
  color: var(--my-red);
  border: 4px dotted var(--my-red);
}
