/* my project ----------------------------------*/

/* general */
input {
  width: 100%;
}

/* cover */
.cover-drag {
  position: absolute;
  display: none;
  align-items: center;
  justify-self: center;
  text-align: center;
  top: 65px;
  left: 0%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 5px solid red;
  width: 100%;
  height: 390px;
  cursor: move;
}
.cover-drag::after {
  content: 'Drag image to reposition, and remember to Save Edit';
  position: absolute;
  display: flex;
  align-items: center;
  justify-self: center;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
  background-color: rgba(233, 10, 10, 0.65);
  border-radius: 4px;
  box-shadow: 1px 1px 10px 2px rgba(255, 54, 54, 0.2);
  font-size: 1rem;
  color: white;
  padding: 2px 10px;
}

.cover-buttons-container {
  position: absolute;
  display: none;
  top: 400px;
  right: 20px;
  z-index: 8;
}
.cover-buttons-set-one {
  display: flex;
  justify-content: end;
  width: 100%;
}

.cover-buttons-set-two {
  display: none;
  justify-content: end;
  width: 100%;
}

.cover-button {
  color: var(--my-red);
  background-color: white;
  border: none;
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  padding: 4px 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  user-select: none;
}

.cover-button:hover {
  color: white;
  background-color: var(--my-red);
}

.project-cover-input-div {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 400px;
  transition: all 0.3s ease-in-out;
}

/* title */
.project-title-input {
  font-size: 1.1rem;
}

/* date*/
.project-date-input {
  font-size: 1.1rem;
}

/* links */
.project-links-input-flex {
  display: flex;
  margin-bottom: 5px;
  padding: 0;
}

.project-links-name {
  width: 30%;
  min-width: 100px;
  padding-right: 6px;
}

.project-links-url {
  flex-grow: 1;
  flex-shrink: 1;
  padding-right: 6px;
}

.project-link-button-container {
  padding-top: 5px;
}

/*skills */
.project-skills-input-window {
  position: relative;
  border: 1px solid var(--my-border);
  height: 200px;
  overflow: auto;
  padding: 4px;
}

/* content */
.project-content-input-container {
  min-height: 500px;
  width: 100%;
  cursor: text;
  padding: 0;
}

.content-input-div {
  position: relative;
  width: 100%;
  margin-left: auto;
  padding: 2px 10px;
  overflow: visible;
  text-wrap: wrap;
}

.content-text-input {
  margin: 0;
  width: 100%;
  border: none;
  overflow-y: hidden;
  resize: none;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
}

.content-text-input:focus {
  outline: none;
}

.new-content-input {
  display: none;
}

.project-content-text-p {
  white-space: pre-wrap;
}

/* tool button */
.input-div-tool-btn {
  position: absolute;
  display: flex;
  justify-self: center;
  align-items: center;
  left: -30px;
  top: 15px;
  transform: translate(0%, -50%);
  background-color: white;
  font-size: 1.56rem;
  color: var(--my-red);
  width: 25px;
  height: 25px;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}

.input-div-tool-btn:hover {
  background-color: var(--my-border);
}

.input-div-tool-btn::before {
  display: block;
  content: '+';
  margin-left: auto;
  margin-right: auto;
  color: var(--my-grey);
  color: var(--my-red);
  transition: all 0.2s ease-in-out;
}

/* image input */
.content-image-input-div {
  position: relative;
}
.content-image-input {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  height: 50px;
  background-color: var(--my-border);
  border-radius: 6px;
  font-size: 1.3rem;
  color: var(--my-grey);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.content-image-text {
  font-size: 1rem;
  margin-left: 10px;
}

.content-image-input:hover {
  background-color: var(--my-border-light);
}

.content-image-input-display {
  display: block;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.content-image-input-display:hover {
  opacity: 0.8;
}

.content-image-delete-btn {
  position: absolute;
  top: 2px;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: 2px solid var(--my-red);
  border-radius: 5px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  color: var(--my-red);
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
}
.content-image-delete-btn::after {
  content: 'x';
}

.content-image-delete-btn:hover {
  color: white;
  background-color: var(--my-red);
  transform: scale(1.05);
}

/* option container (partials/input-option.hbs) */
.input-option-container {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  padding: 8px;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  z-index: 100;
}

.input-option-title {
  width: 100%;
  font-size: 0.8rem;
  color: var(--my-grey);
  margin-bottom: 5px;
}

.input-option-line {
  width: 100%;
  height: 1px;
  border-bottom: 1px solid var(--my-border);
  margin-bottom: 5px;
}

.input-option {
  display: flex;
  align-items: center;
  justify-items: start;
  width: 100%;
  height: 40px;
  margin-bottom: 4px;
  border-radius: 2px;
  cursor: pointer;
  padding: 6px;
}

.input-option:hover {
  background-color: var(--my-border-light);
}

.input-option-icon {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 25px;
  height: 30px;
  font-size: 1.2rem;
}

.input-option-name {
  font-size: 1rem;
  margin-left: 5px;
}

@media screen and (max-width: 991px) {
  .cover-drag {
    height: 340px;
  }
  .cover-buttons-container {
    top: 350px;
  }
}

@media screen and (max-width: 767px) {
  .cover-drag {
    height: 290px;
  }
  .cover-buttons-container {
    top: 300px;
  }
}

@media screen and (max-width: 500px) {
  .cover-buttons-set-one {
    justify-content: center !important;
  }
  .cover-buttons-set-two {
    justify-content: center !important;
  }
  .cover-buttons-container {
    margin: 0 !important;
    top: 280px;
    left: auto !important;
    right: 20px !important;
  }
}

/* for touch device */
@media (hover: none) {
  #cover-position {
    display: none !important;
  }
}
