@import url('/styles/color.css');
@import url('/styles/animation.css');
/* my project ----------------------------------*/

/* general */
input {
  width: 100%;
}

/* cover */
.project-cover-input-div {
  display: none;
  position: absolute;
  top: 50;
  left: 0;
  width: 100%;
  height: 400px;
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  z-index: 6;
}
.project-cover-input-div:hover {
  background-color: rgba(255, 0, 0, 0.4);
}
.project-cover-input-div::after {
  content: '+';
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.project-cover-input-div:hover::after {
  font-size: 5rem;
}

/* title */
.project-title-input {
  font-size: 1.1rem;
}

/* date*/
.project-date-input {
  font-size: 1.1rem;
}

/* links */
.project-links-input-flex {
  display: flex;
  margin-bottom: 5px;
  padding: 0;
}

.project-links-name {
  flex-shrink: 1;
  min-width: 90px;
  padding-right: 6px;
}

.project-links-url {
  flex-grow: 1;
  padding-right: 6px;
}

/*skills */
.project-skills-input-window {
  position: relative;
  border: 1px solid var(--my-border);
  height: 200px;
  overflow: auto;
  padding: 4px;
}

/* content */
.project-content-input-container {
  min-height: 500px;
  width: 100%;
  border: 1px solid var(--my-border);
  border-radius: 5px;
  cursor: text;
  padding: 0;
}

.content-text-input-div {
  position: relative;
  width: 100%;
  margin-left: auto;
  padding: 2px 10px;
  overflow: visible;
  text-wrap: wrap;
}

.content-text-input {
  position: relative;
  margin: 0;
  width: 100%;
  border: none;
  overflow-y: hidden;
  resize: none;
  height: auto;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.2s ease-in-out;
}

.content-text-input:focus {
  outline: none;
}

.input-div-tool-btn {
  position: absolute;
  display: flex;
  justify-self: center;
  align-items: center;
  left: -30px;
  top: 15px;
  transform: translate(0%, -50%);
  background-color: white;
  font-size: 1.56rem;
  color: var(--my-red);
  width: 25px;
  height: 25px;
  border-radius: 5%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.input-div-tool-btn:hover {
  background-color: var(--my-border);
}

.input-div-tool-btn::before {
  display: block;
  content: '+';
  margin-left: auto;
  margin-right: auto;
  color: var(--my-grey);
  color: var(--my-red);
  transition: all 0.2s ease-in-out;
}

#text-sample-div {
  display: none;
}
