@import url('/styles/color.css');
@import url('/styles/animation.css');
@import url('/styles/statistic.css');
/*portfolio-----------------------------------*/

.portfolio-cover {
  position: absolute;
  z-index: -100;
  top: 50px;
  left: 0;
  height: 400px;
  width: 100vw;
  user-select: none;
}

.portfolio-cover-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 50%;
  pointer-events: none;
}

.portfolio-cover-placement {
  background-image: url('/images/covers/default.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.portfolio-container {
  margin-top: 200px;
}

.portfolio-left {
  position: relative;
  padding-right: 15px;
}

.portfolio-right {
  position: relative;
  border: none;
}

/* avatar */
.portfolio-avatar-container {
  position: relative;
  width: 200px;
  height: 200px;
  border: 3px solid var(--my-border);
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 20px;
  z-index: 7;
}

.portfolio-avatar-container::after {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 2px solid white;
  z-index: -1;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  user-select: none;
}

/* title */
.portfolio-title {
  background-color: var(--my-red);
  color: white;
  font-weight: bold;
  width: auto;
  display: inline;
  padding: 2px 4px;
  border-radius: 5px;
}

/* social */
.social-container {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-link {
  text-decoration: none;
  color: inherit;
}

.social-box {
  position: relative;
  margin-right: 10px;
  transition: all ease-in-out 0.2s;
  /*animation*/
  animation: popAndFadeIn 0.5s ease-in-out forwards;
  transform: scale(0);
  opacity: 0;
}

.social-icon {
  width: 28px;
}

.social-icon img {
  width: 100%;
}

.social-icon-pop {
  position: absolute;
  display: none;
  left: 15;
  top: 32px;
  transform: translateX(-10%);
  background-color: white;
  color: var(--my-red);
  font-size: 1rem;
  line-height: 0;
  white-space: nowrap;
  padding: 2px 4px;
  border: 1px solid red;
  border-radius: 5px;
}

.social-box:hover img {
  filter: invert(27%) sepia(60%) saturate(2832%) hue-rotate(335deg) brightness(91%) contrast(89%);
}

.social-box:hover .social-icon-pop {
  display: inline-block;
}

/* description: BIO */
#description-display {
  overflow: auto;
}

.portfolio-description {
  white-space: pre-wrap;
}

/* skills */
.skill-container {
  padding-left: 2px;
}

.skill-block {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid rgb(230, 230, 230);
  min-height: 76px;
  padding: 5px 0px;
}

.skill-icon {
  display: flex;
  align-items: center;
  margin-right: 15px;
  flex: 0 0 30px;
  width: 30px;
}

.skill-icon img {
  filter: opacity(50%);
  min-width: 100%;
}

.skill-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.skill-name {
  font-weight: bold;
  color: rgb(107, 107, 107);
}

.skill-description {
  color: rgb(163, 163, 163);
}

/* project */
.project-display {
  margin-top: 10px;
}

.project-container {
  margin: 0px;
  padding-top: 220px;
}

.project-outer-block {
  position: relative;
  transition: all 0.1s ease-in-out;
}

.project-outer-block:hover {
  transform: translateX(4px);
}

.project-block {
  min-height: 150px;
  background-color: white;
  border: 1px solid rgb(233, 233, 233);
  border-radius: 4px;
  transition: all ease-in-out 0.2s;
  transform: scale(0);
  opacity: 0;
  animation-delay: infinite; /* use js to control*/
  animation: popAndFadeIn 0.5s ease-in-out forwards;
  /*forward means stay in the end condition when done*/
  overflow: hidden;
}

.project-block:hover {
  border: 1px solid var(--my-red);
}

.project-image-holder {
  display: flex;
  align-items: center;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.project-image-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.2s ease-in-out;
}

.project-block:hover img {
  transform: scale(1.05);
  transform-origin: center center;
}

.project-block-empty {
  height: 400px;
  background-color: rgb(239, 239, 239);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  color: var(--my-grey-light);
  cursor: auto;
}

/* project-block-info */
.project-block-info {
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-in-out;
}

.project-title {
  color: grey;
}

.project-visit {
  display: inline-block;
  background-color: var(--my-border);
  border-radius: 2px;
  padding: 0px 6px;
  font-size: smaller;
  color: white;
  transition: all 0.2s ease-in-out;
}

.project-meta-tag {
  display: inline-block;
  padding: 0px 6px;
  border-radius: 2px;
  background-color: var(--my-border);
  font-size: smaller;
  color: white;
  transition: all 0.2s ease-in-out;
}

.project-meta-tag-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-meta-tag-inner i {
  margin-right: 5px;
}

.project-description-div {
  flex-grow: 1;
}

.project-block-info .project-description {
  color: var(--my-grey-light);
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.2s ease-in-out;
}

.project-block:hover .project-block-info .project-title {
  color: var(--my-red-light);
}

.project-block:hover .project-block-info .project-meta-tag {
  background-color: var(--my-red-light3);
}
.project-block:hover .project-block-info .project-description {
  color: var(--my-grey);
}

.project-block:hover .skill-pill {
  background-color: var(--my-red-light);
}

.project-line {
  display: none;
}

/* project skill tag */
.project-block-skills {
  position: relative;
  height: 52px;
  overflow: hidden;
  margin-top: 10px;
  padding: 6px;
  padding-bottom: 25px;
}

.skills-show-more-btn {
  position: absolute;
  bottom: -2px;
  left: 0px;
  display: block;
  outline: none;
  background-color: white;
  border: none;
  border-top: 1px solid var(--my-border);
  color: var(--my-grey);
  font-size: 0.8rem;
  text-align: center;
  transition: all 0.4s ease-in-out;
  width: 100%;
}

.skills-show-more-btn:hover {
  border-top: 1px solid var(--my-red);
  color: var(--my-red);
}

.skill-pill {
  display: inline-block;
  background-color: var(--my-grey-light);
  border-radius: 5px;
  padding: 0px 10px;
  margin-right: 2px;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

@media screen and (max-width: 991px) {
  .portfolio-right {
    padding: 0;
  }
  .project-container {
    padding-top: 0px;
  }
  .project-line {
    display: block;
  }
  .project-outer-block:hover {
    transform: translateX(0px);
  }
  .portfolio-cover {
    height: 350px;
  }
  .portfolio-container {
    margin-top: 200px;
  }
  .portfolio-avatar-container {
    height: 180px;
    width: 180px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-cover {
    height: 300px;
  }
  .portfolio-container {
    margin-top: 160px;
  }
  .portfolio-avatar-container {
    height: 140px;
    width: 140px;
  }
}

@media screen and (max-width: 500px) {
  .portfolio-cover {
    height: 270px;
  }
  .portfolio-container {
    margin-top: 135px;
  }
  .portfolio-avatar-container {
    height: 120px;
    width: 120px;
  }
  .statistic-portfolio-update {
    display: none !important;
  }
  .portfolio-statistic-div {
    left: auto !important;
    right: 20px !important;
  }
}
