@import url('/styles/color.css');
@import url('/styles/animation.css');
/*project-----------------------------------*/

.project-page-cover {
  position: absolute;
  z-index: -100;
  top: 50px;
  left: 0;
  height: 400px;
  width: 100vw;
}

.project-page-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.project-page-title {
  font-size: 3rem;
  font-weight: bold;
}

.project-page-container {
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

.project-page-a {
  text-decoration: none;
}

/* avatar */
.project-user-avatar {
  width: 45px;
  height: 45px;
  overflow: hidden;
  align-self: center;
}

.project-user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* skills */
.project-skills {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0px;
}

.skill-tag {
  display: flex;
  align-items: center;
  background-color: var(--my-red);
  color: white;
  padding: 2px 9px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  font-size: 0.9rem;
}

/* line */
.project-page-line {
  width: 100%;
  height: 1px;
  background-color: var(--my-grey-light);
  margin: 15px 0px;
}

/* project content (prev as project-image) */
.project-page-content-box {
  width: 100%;
  margin-bottom: 25px;
}

.project-content-image {
  border-radius: 6px;
  overflow: hidden;
}

.project-content-image img {
  width: 100%;
  background-size: cover;
}

/* description */
.project-description {
  white-space: pre-wrap;
  color: black;
}
