.home-search-from-container {
  margin-top: 5px;
}

/*--Search bar--*/
.home-search-bar-container {
  display: grid;
  grid-template-columns: auto 40px;
  height: 40px;
}

/*--search select(column)---*/
.home-search-bar-select-div {
  position: relative;
}

.home-search-bar-select {
  padding-left: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--my-red);
  color: white;
  height: 100%;
  width: 100%;
  transition: all 0.1s ease-in-out;
}

.home-search-bar-select:focus {
  outline: 0 none;
}

.home-search-bar-select-div::after {
  content: 'search by';
  position: absolute;
  top: -28px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  background-color: var(--my-grey);
  align-items: center;
  text-wrap: nowrap;
  font-size: 0.8rem;
  color: white;
  padding: 5px;
  border-radius: 4px;
  visibility: hidden;
}

.home-search-bar-select:hover {
  padding-top: 2px;
  background-color: var(--my-red-light);
}

.home-search-bar-select-div:hover::after {
  visibility: visible;
}

.select-default {
  color: var(--my-grey);
}

.home-search-bar-input {
  padding: 2px 1px 2px 10px;
  border: 1px solid var(--my-grey);
  border-right: none;
}

.home-search-bar-input::placeholder {
  color: var(--my-grey);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.home-search-bar-input:focus {
  border: none;
  outline: 1px solid var(--my-red);
  outline-offset: -1px;
}

.home-search-bar-input:focus::placeholder {
  color: var(--my-grey-light);
}

.search-button {
  border: none;
  color: white;
  background-color: var(--my-red);
  box-shadow: none;
  height: 100%;
  width: 100%;
  padding: 0px 10px 0px 10px;
}

.search-button:hover {
  background-color: var(--my-red-light);
}

.search-button-icon {
  transition: transform 0.2s ease-in-out;
}

.search-button:hover .search-button-icon {
  transform: rotate(-15deg);
}

/*--option container--*/
.search-option-container-outer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.search-option-container {
  --search-option-container-height: 35px;
  display: grid;
  grid-template-columns: 100px 90px var(--search-option-container-height);
  gap: 5px;
  height: var(--search-option-container-height);
}

/* result count */
.result-count {
  display: flex;
  align-items: start;
  color: var(--my-grey);
  white-space: nowrap;
  overflow: hidden;
}

.result-count-current {
  color: black;
}

/*--sort--*/
.sort-select-div {
  position: relative;
  transition: all 0.1s ease-in-out;
}

.sort-select {
  height: 100%;
  width: 100%;
  padding-left: 5px;
  border: 1px solid var(--my-grey);
  border-radius: 5px;
  background-color: var(--my-light);
  color: var(--my-grey-dark);
  cursor: pointer;
}

.sort-select:hover {
  padding-top: 2px;
  background-color: var(--my-border-light);
}

.sort-select-div::before {
  content: 'sort';
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  font-size: 0.8rem;
  opacity: 1;
  background-color: var(--my-grey);
  color: white;
  padding: 5px;
  padding-inline: 10px;
  border-radius: 4px;
  visibility: hidden;
}
.sort-select-div:hover:before {
  visibility: visible;
}
/*--sort direction--*/
.sort-direction-div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--my-grey);
  border-radius: 5px;
  background-color: var(--my-light);
  transition: all 0.1s ease-in-out;
}

.sort-direction-check {
  position: absolute;
  appearance: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

/* sort direction arrow icon */
.sort-direction-check::after {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  content: '\f078'; /* Unicode for the Font Awesome up arrow icon */
  font-family: 'Font Awesome 5 Free'; /* Specify the Font Awesome font family */
  font-weight: 900; /* Specify the Font Awesome font weight */
  color: black;
  font-weight: 900;
  font-size: 1rem;
  transition: all 0.1s ease-in-out;
}

.sort-direction-check:checked::after {
  content: '\f077';
}

.sort-direction-check:hover::after {
  padding-top: 2px;
}

.sort-direction-div:hover {
  background-color: var(--my-border-light);
}

/* sort direction tip */
.sort-direction-check::before {
  content: 'ascending';
  position: absolute;
  top: -28px;
  right: 100%;
  transform: translateX(40%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  font-size: 0.8rem;
  opacity: 1;
  background-color: var(--my-grey);
  color: white;
  padding: 5px;
  border-radius: 4px;
  visibility: hidden;
}

.sort-direction-check:hover::before {
  content: 'descending';
  visibility: visible;
}

.sort-direction-check:checked:hover::before {
  content: 'ascending';
  visibility: visible;
}

/*  */
@media screen and (max-width: 500px) {
  .search-option-container {
    --search-option-container-height: 30px;
    grid-template-columns: 80px 72px var(--search-option-container-height);
    font-size: 0.8rem;
    gap: 4px;
  }

  .result-count {
    font-size: 0.9rem;
  }
}
