/* statistic */
.statistic-div {
  display: flex;
  top: 125px;
  left: 230px;
  color: white;
  border-radius: 2px;
  user-select: none;
  width: auto;
  margin-top: 5px;
  margin-bottom: 0px;
}

.statistic-tag {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2px 10px;
  color: var(--my-grey);
  text-wrap: nowrap;
  cursor: default;
  transition: all 0.2s ease-in-out;
}

.statistic-tag:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  height: 50%;
  border-right: 1px solid var(--my-border);
}

.statistic-tag i {
  margin-right: 5px;
}
