/* statistic */
.statistic-div {
  display: flex;
  top: 125px;
  left: 230px;
  color: white;
  border-radius: 2px;
  user-select: none;
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.statistic-tag {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2px 7px;
  color: white;
  border: 1px solid white;
  background-color: var(--my-grey-light);
  text-wrap: nowrap;
  cursor: default;
  transition: all 0.2s ease-in-out;
}

.statistic-tag:first-child {
  border-radius: 4px 0px 0px 4px;
}

.statistic-tag:not(:first-child):not(:last-child) {
  border-left: 0;
  border-right: 0;
}

.statistic-tag:last-child {
  border-radius: 0px 4px 4px 0px;
}

.statistic-tag i {
  margin-right: 5px;
}
